<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greet</title>
</head>
<body>
  Hello, {{name}}

  <h1>Enter the name of a Wikipedia article</h1>
  <form autocomplete="off" autofocus action="/page" method='get'>
    <input type="text" name="title" placeholder="Article title">
    <input type="submit" value="API Lookup">
  </form>
</body>
</html>